.tanzir{
    margin: 100px;
    font-size: 4rem;
}
.tanzir1{
    color: brown;
}
.tanzir22{
    background-color: rgb(19, 31, 199);
}
.container overflow-hidden{
    float: left;
}
.tanxirrrr{
    
    margin-left: 118px;
    font-size: 1rem;
    border-radius: 100px;
    
}
.tanzirrrrr{
    margin: 0px;
    padding: 0px;
    color: white;
}
